In [9]:
import pandas as pd

In [10]:
file = pd.read_html("https://en.wikipedia.org/wiki/Comma-separated_values")

In [11]:
print(len(file))

2

In [12]:
file[1]

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.0

In [13]:
type(file[1])

pandas.core.frame.DataFrame

In [14]:
file[1].to_csv(r"webscrap.csv", index = False)

In [15]:
test_read = pd.read_csv(r'webscrap.csv')

In [16]:
print(test_read)

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                        Description   Price
0                     ac, abs, moon  3000.0
1                               NaN  4900.0
2                               NaN  5000.0
3  MUST SELL!air, moon roof, loaded  4799.0